.wishlist-banner {
  position: relative;
  width: 100%;
  height: 50vh; 
  overflow: hidden; 
}

.wishlist-banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  object-position: top center;
}


.wishlist-banner h2 {
  position: absolute;  
  color: white;
  z-index: 1;
  text-transform: uppercase;
  font-family: "Pandora Text", Arial, sans-serif;
  text-align: left;
  bottom: 20px;        
  left: 20px;          
  font-size: 2.25rem;
  font-weight: 600;
}

.wishlist-header {
  display: flex;
  justify-content: center;
}

.wishlist-header-contain {
  display: flex;
  width: 70%;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
  border-bottom: 2px solid #ddd; 
  margin-bottom: 20px;
}

.wishlist-header h2 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.wishlist-items-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.wishlist-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}

.wishlist-item {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  background-color: #fff;
  width: 100%;
  max-width: 300px;
}

.wishlist-item img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.wishlist-item h3 {
  font-size: 18px;
  margin: 10px 0;
}

.wishlist-item p {
  font-size: 16px;
  color: #555;
}

.wishlist-item button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 3px;
}

.wishlist-item button:hover {
  background-color: #d32f2f;
}

.empty-message {
  text-align: center;
  font-size: 18px;
  color: #666;
  margin: 20px 0;
}

.back-to-account {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #000000;
  margin: 20px 0;
  gap: 5px;
}

.back-to-account mat-icon {
  font-size: 20px;
  color: #000000;
}

@media (max-width: 768px) {
  .wishlist-items {
    grid-template-columns: repeat(1, 1fr);
  }

  .wishlist-item {
    width: 100%;
  }

  .back-to-account {
    font-size: 14px;
  }

  .wishlist-banner h2 {
    font-size: 1.5rem; 
    bottom: 10px;       
  }
}

@media (min-width: 1024px) {
  .wishlist-banner {
    height: 50vh;
  }
}
