.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 2px solid #d0d1d2;
}

.navbar-logo {
    flex: 0 1 auto;
}

.navbar-logo img {
    max-width: 227px;
    height: auto;
}

.navbar-search {
    flex: 1;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    margin-right: 20px;
}

.navbar-links {
    display: flex;
    gap: 20px;
    margin-right: 2rem;
}

.navbar-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.navbar-links mat-icon {
    margin-right: 5px;
}

.navbar-account {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar-account .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0; 
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    z-index: 1000;
    width: 150px;
    text-align: left;
}

.navbar-account:hover .dropdown-menu,
.navbar-account:focus-within .dropdown-menu {
    display: block;
}

.dropdown-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.2s;
}

.dropdown-menu a:hover {
    background-color: #f0f0f0;
}

.navbar-account:hover:not(:hover-within) .dropdown-menu {
    display: none;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column; 
        padding: 10px;
    }

    .navbar-search, .navbar-links {
        display: flex;
        justify-content: center;
    }

    .navbar-links.open, .navbar-search.open {
        display: flex;
        flex-direction: column; 
        align-items: center;
        gap: 10px;
        width: 100%; 
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 10px 0;
    }

    /* Navbar links specific for mobile */
    .navbar-links a {
        width: 100%; /* Full-width clickable links */
        text-align: center;
        padding: 10px 0;
        border-bottom: 1px solid #ddd;
    }

    .navbar-links a:last-child {
        border-bottom: none;
    }
}

@media (min-width: 769px) {
    .navbar {
        flex-direction: row;
    }

    .navbar-links {
        justify-content: flex-end; 
    }

    .navbar-search {
        justify-content: flex-end; 
    }

    .navbar-links, .navbar-search {
        display: flex;
    }
}
