/* Base styles for the navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 2px solid #d0d1d2;
  }
  
  .navbar-logo {
    flex: 0 1 auto;
  }
  
  .navbar-logo img {
    max-width: 227px;
    height: auto;
  }
  
  .navbar-search {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 1rem;
    padding-right: 27px;
  }
  
  .navbar-links {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  
  .navbar-links mat-icon {
    margin-right: 5px;
  }
  
  .navbar-account {
    position: relative;
  }
  
  .navbar-account .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    display: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-account:hover .dropdown-menu {
    display: block;
  }
  
  .navbar-account .dropdown-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
  
  .navbar-account .dropdown-menu a:hover {
    background-color: #f0f0f0;
  }
  
/* Mobile Media Queries */
@media (max-width: 768px) {
    .navbar {
      padding: 10px 15px;
    }
  
    /* Make the navbar links stack vertically */
    .navbar-links {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 15px;
      padding-top: 60px;
      display: none;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  
    .navbar-links.open {
      display: flex;
    }
  
    .navbar-links a {
      font-size: 14px;
      padding: 10px 20px;
      text-align: center;
    }
  
    .navbar-search {
      flex: 1;
      justify-content: center;
      padding-right: 15px;
    }
  
    .navbar-logo img {
      max-width: 200px;
    }
  
    .navbar-account {
      display: flex;
      justify-content: center;
    }
  
    /* Hamburger Menu Toggle */
    .navbar-toggle {
      display: block;
    }
  
    .navbar-account .dropdown-menu {
      width: 100%;
      left: 0;
    }
  }
  
  /* Desktop Media Queries */
  @media (min-width: 769px) {
    .navbar-links {
      display: flex;
      justify-content: flex-end;
      gap: 20px;
    }
  
    .navbar-toggle {
      display: none;
    }
  }
  