<div class="product-list">
 
  <app-product-modal
  *ngIf="selectedProduct"
  [selectedProduct]="selectedProduct"
  [selectedSize]="selectedSize"
  [activeSection]="activeSection"
  (closeModal)="closeProductModal()"
  (addToWishlist)="toggleWishlist($event)"
  (sizeSelected)="selectSize($event)">
</app-product-modal>

<ng-container *ngComponentOutlet="braceletsComponent"></ng-container>

<div *ngFor="let product of filteredCollections" class="product-card">
  <img [src]="product.image" alt="{{ product.name }}" />
  <h3>{{ product.name }}</h3>
  <p>{{ product.description }}</p>
  <p>{{ product.price | currency }}</p>

  <!-- Wishlist Toggle Button -->
  <button (click)="toggleWishlist(product)">
    {{ isProductInWishlist(product) ? 'Remove from Wishlist' : 'Add to Wishlist' }}
  </button>
</div>

</div>