<div class="collection-banner">
  <h1 class="collection-title">Orna Collections</h1>
  <p class="collection-description">
    Step into the world of Orna. Explore our different jewelry collections and discover a universe of possibilities to create a look that tells your story.
  </p>
</div>

<div class="product-list">
 
  <app-product-modal
  *ngIf="selectedProduct"
  [selectedProduct]="selectedProduct"
  [selectedSize]="selectedSize"
  [activeSection]="activeSection"
  (closeModal)="closeProductModal()"
  (addToWishlist)="toggleWishlist($event)"
  (sizeSelected)="selectSize($event)">
</app-product-modal>

<ng-container *ngComponentOutlet="braceletsComponent"></ng-container>
<ng-container *ngComponentOutlet="necklaceListComponent"></ng-container>

</div>
