<div class="carousel-container">
    <div class="carousel">
      <button class="carousel-control prev" (click)="prevImage()">
        <i class="material-icons">chevron_left</i>
      </button>
  
      <img [src]="images[currentImageIndex]" alt="Carousel Image" class="carousel-image">

      <button class="carousel-control next" (click)="nextImage()">
        <i class="material-icons">chevron_right</i>
      </button>
    </div>
  </div>


  <div class="categories-container">
    <div class="category">
      <a [routerLink]="['/bracelets']">
        <img src="assets/bracelets/bracelets.webp" alt="Bracelets" class="category-image" />
        <div class="category-name">Bracelets</div>
      </a>
    </div>
  
    <!-- Repeat for other categories like Rings, Necklaces, etc. -->
    <div class="category">
      <a routerLink="/rings">
        <img src="assets/rings.webp" alt="Rings" class="category-image" />
        <div class="category-name">Rings</div>
      </a>
    </div>
  
    <div class="category">
      <a routerLink="/necklaces">
        <img src="assets/necklaces.webp" alt="Necklaces" class="category-image" />
        <div class="category-name">Necklaces</div>
      </a>
    </div>
  
    <div class="category">
      <a routerLink="/earrings">
        <img src="assets/earrings.webp" alt="Earrings" class="category-image" />
        <div class="category-name">Earrings</div>
      </a>
    </div>
  
    <div class="category">
      <a routerLink="/new-in">
        <img src="assets/newin.webp" alt="New In" class="category-image" />
        <div class="category-name">New In</div>
      </a>
    </div>
  </div>


  <div class="wrap-section">
    <div class="wrap-content">
      <!-- Image and Video Section -->
        <!-- Title and Description Section -->
      <div class="wrap-title">
        <h2>Wrap it with Love</h2>
        <p>Discover a collection designed to celebrate special moments. Style and elegance crafted for you.</p>
      </div>
      <div class="wrap-images-grid">
        <!-- Video item -->
        <div class="wrap-item video">
          <video autoplay muted loop>
            <source src="assets/wrap-container.mp4" type="video/mp4" />
          </video>
        </div>
        <!-- Image items -->
        <div class="wrap-item image1">
          <img src="assets/wrap-containerI.webp" alt="Wrap Image 2" />
        </div>
        <div class="wrap-item image2">
          <img src="assets/wrap-containerII.webp" alt="Wrap Image 3" />
        </div>
        <div class="wrap-item image3">
          <img src="assets/wrap-containerIII.webp" alt="Wrap Image 4" />
        </div>
        <div class="wrap-item image4">
          <img src="assets/wrap-container4.webp" alt="Wrap Image 5" />
        </div>
        <div class="wrap-item image5">
          <img src="assets/wrap-container5.webp" alt="Wrap Image 6" />
        </div>
      </div>
    </div>
  </div>
  

