<div class="filters">
  <div class="container">
 
    <div class="filter-sidebar">
      <h2>Filters</h2>
      <div class="category-filter">
        <h4>Category</h4>
        <ul>
          <li (click)="selectCategory('all')" [class.active]="selectedCategory === 'all'">All</li>
          <li (click)="selectCategory('bracelets')" [class.active]="selectedCategory === 'bracelets'">Bracelets</li>
          <li (click)="selectCategory('necklaces')" [class.active]="selectedCategory === 'necklaces'">Necklaces</li>
        </ul>
      </div>
      <div class="sort-dropdown">
        <button (click)="toggleSortDropdown()" class="sort-button">
         <strong> Sort: </strong>{{ selectedSortOption || 'Select an option' }}
          <mat-icon [class.open]="isSortDropdownOpen">arrow_drop_down</mat-icon>
        </button>
        <ul *ngIf="isSortDropdownOpen" class="sort-options">
          <li *ngFor="let option of sortOptions" (click)="selectSortOption(option)" [class.active]="selectedSortOption === option">
            {{ option }}
          </li>
        </ul>
      </div>
      <div class="price-filter">
        <h2>Price</h2>
        <div *ngFor="let range of priceRanges" (click)="filterByPrice(range)" class="price-range">
          <div class="circle"></div>
          <span>{{ range.label }}</span>
        </div>
      </div>
    </div>
    <div class="product-grid">
      <div *ngFor="let product of filteredCollections" class="product-card">
        <img [src]="product.image" [alt]="product.alt" class="product-image" />
        <h3 class="product-name">{{ product.name }}</h3>
        <p class="product-price">{{ product.price | currency }}</p>
        <button class="btn-primary" (click)="quickShop(product)">Quick Shop</button>
      </div>
    </div>
    
  <app-product-modal
  *ngIf="selectedProduct"
  [selectedProduct]="selectedProduct"
  [selectedSize]="selectedSize"
  [activeSection]="activeSection"
  (closeModal)="closeProductModal()"
  (addToWishlist)="toggleWishlist($event)"
  (sizeSelected)="selectSize($event)">
</app-product-modal>
